# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*.pyc

# Virtual environments
.venv/
venv/

# Editor directories
.vscode/
.idea/

# OS files
.DS_Store

# Test / coverage caches
.pytest_cache/
.mypy_cache/
